<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Meetings</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- Moment.js -->
  <script src="/static/js/moment.min.js"></script>

  <!-- Our own style sheet -->
  <link rel="stylesheet" href="/static/css/main.css" />


</head>
<body>
<div class="container">
  <h1>Meetings</h1>
</div>

<div class="container-fluid courier">
    <div class="row">
        <a href="/create_meeting" type="button" class="btn btn-primary">Create Meeting</a>
    </div>

    <div class="row">
        <a href="/join_meeting" type="button" class="btn btn-default">Join Meeting</a>
    </div>

    <!--Footer-->
    <footer>
        <div id="footer-content">
            <div class="col-md-4 text-right">
                <small>&copy; 2017, Taisei Klasen </small>
            </div>
        </div>
    </footer>
</div>

</body>
</html>